.slider {
    margin-bottom: 3px;
    &-slide {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        min-height: 670px;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        background-image: url(../img/slider-img-1.png);
        background-repeat: no-repeat;
        background-size: cover;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
        }

        & > * {
            position: relative;
            z-index: 2;
        }

        &__title {
            margin-bottom: 80px;
        }
    }
}

@media (max-width: 991px) {
    .slider-slide {
        min-height: auto;
        padding: 80px 0;
    }
}
@media (max-width: 768px) {
    .slider-slide__title {
        margin-bottom: 30px;
    }
    .slider-slide__btn {
        font-size: 14px;
        max-width: 200px;
        height: 44px;
    }
}